<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dresta.putra.wargakita">
    <!-- made by Dresta Twas Ardha Putra : 0895391117285 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.quickblox.sample.chat.java.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.provider.MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />

    <application
        android:name=".chat.java.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity android:name=".CariActivity" />
        <activity android:name=".berkas.BerkasActivity" />
        <activity android:name=".peta.AsetActivity" />
        <activity android:name=".peta.DetailPetaActivity" />
        <activity android:name=".peta.DetailAsetActivity" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" /> <!-- warna text notifikasi -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGKluBmYhOJWt9bZv1GVZLBQD6B0M_T3Y" />

        <activity android:name=".user.EditPasswordUserActivity" />
        <activity android:name=".user.EditProfilUserActivity" />
        <activity android:name=".user.ProfilUserActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".berita.DetailBeritaActivity" />
        <activity android:name=".pengaduan.PengaduanActivity" />
        <activity android:name=".berita.BeritaActivity" />
        <activity
            android:name=".daftar.DaftarActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".WebActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".chat.java.ui.activity.SplashActivity" />
        <activity android:name=".laporan.LaporanActivity" />
        <activity android:name=".agenda.AgendaActivity" />
        <activity android:name=".agenda.BuatAgendaActivity" />
        <activity android:name=".surat.MenuSuratActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".chat.java.ui.activity.SelectUsersActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/AppThemeActionBar"
            android:name=".chat.java.ui.activity.DialogsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.java.ui.activity.NewGroupActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.java.ui.activity.ChatActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".chat.java.ui.activity.ChatInfoActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.java.ui.activity.ForwardToActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.java.ui.activity.MessageInfoActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.java.ui.activity.AttachmentImageActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.java.ui.activity.AttachmentVideoActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.java.ui.activity.AppInfoActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />

        <service
            android:name=".chat.java.fcm.PushListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.quickblox.messages.services.fcm.QBFcmPushInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="GCM" />

        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="" />

        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="DEVELOPMENT" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4b96a3f33893a42103eae91d2166d0c517b833d3" />
    </application>

</manifest>