<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dresta.putra.wargakita">
    <!-- made by Dresta Twas Ardha Putra : 0895391117285 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CariActivity" />
        <activity android:name=".berkas.BerkasActivity" />
        <activity android:name=".peta.AsetActivity" />
        <activity android:name=".peta.DetailPetaActivity" />
        <activity android:name=".peta.DetailAsetActivity" />

        <service
            android:name=".FirebaseServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" /> <!-- warna text notifikasi -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGKluBmYhOJWt9bZv1GVZLBQD6B0M_T3Y" />

        <activity android:name=".user.EditPasswordUserActivity" />
        <activity android:name=".user.EditProfilUserActivity" />
        <activity android:name=".user.ProfilUserActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".berita.DetailBeritaActivity" />
        <activity android:name=".pengaduan.PengaduanActivity" />
        <activity android:name=".berita.BeritaActivity" />
        <activity
            android:name=".daftar.DaftarActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".WebActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>